<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
	</startup>
	<appSettings>
		<add key="folder" value="C:\temp\warmwater\" />
		<add key="filter" value="*.jpg" />
		<add key="sleepinterval" value="2000"/>
		<add key="port" value="1234"/>
		
	</appSettings>
</configuration>